/* You can add global styles to this file, and also import other style files */
html, body {
  height: 90%;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.gap-3 {
  gap: .75rem;
}

.flex-col {
  flex-direction: column;
}

.snap-y-mandatory {
  scroll-snap-type: y mandatory;
}

[slideritem] {
  width: 200px;
  height: auto; 
  border: 1px solid red;
}

.overflow-scroll {
  overflow: scroll;
}